.hb-layout {
    background-color: white !important;

    .addMaterial {
        margin: 10px 10px 10px auto;
        // width: 15%;
    }
}

.store_header {
    height: 24px !important;
    line-height: 24px !important;
    text-align: right;
    padding: 0px 5px !important;
    display: flex;
    margin: 10px 10px;
    position: relative;
    background-color: white !important;

    .inputStyle {
        width: 20%;
    }

    span {
        height: 24px;
        line-height: 24px;
        margin: 0px 10px;
    }

    .searchButton {
        margin-left: 10px;
    }
}

.store_contentt{
    padding:2px 2px !important;
    background-color: white !important;
}

.ant-table-small > .ant-table-content > .ant-table-body {
    margin: 0px !important;
  }