.ant-menu-sub.ant-menu-inline {
    text-indent: 5px !important;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-le {
    border: none !important;
}

.ant-menu-submenu-title:hover {
    background-color: #0bb97629 !important;
    color: #000000 !important;

}



.ant-menu-submenu-arr:hover {
    color: #2e2e2e !important;
    background: #2e2e2e !important;
}

.ant-menu-submenu-selected {
    color: #0BB976 !important;
    font-weight: 600 !important;
    background-color: #7b73730f !important;
}

ant-menu-submenu-arrow:hover {
    color: #393982 !important;
    background-color: #393982 !important;
}

.ant-menu-it:hover {
    // font-weight: 600 !important;
    background-color: rgba(0, 0, 0, 0.06) !important;
    // color: #393982 !important;
}

// .ant-menu-item:hover {
//     background-color: rgba(0, 0, 0, 0.06) !important;
// }

.ant-menu-item>a:hover {
    background: none !important;
}

.ant-table-empty .ant-table-bo {
    margin: 0% !important;
}

.ant-tab {
    line-height: 2.5 !important;
}

.ant-table-small>.ant-table-content>.ant-table-body {
    margin: 0% !important;
}

.list-search-input {
    margin-top: 7px !important;

}

.ant-input-group-addon {
    color: #0BB976 !important;
}



.ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #0BB976 !important;
}

.ant-menu-item:active,
.ant-menu-submenu-title:active {
    background: none !important;

}

.ant-layout {
    background-color: #e8f2ee !important;
}

.ant-table-tbody tr:nth-child(even) {
    background-color: #cccccc30;

}