@login-header-height: 42px;

.login-layout-header {
    height       : @login-header-height !important;
    line-height  : @login-header-height !important;
    text-align   : center !important;
    background: #ffffff!important;
    border-bottom: 1px solid #f0f0f0!important;
   
}

@login-image-height: calc(100% - 4px);

.login-layout-header-image {
    height: @login-image-height !important;
    background-image: url('/assets/background.png');
}

.ant-tabs-ink-bar{
    background-color: #6666c4!important;
}

.hb-layout-sider{
 display: inline-block!important;  
 padding-top: 100px!important; 
}

.ant-tabs-nav .ant-tabs-tab:last-child{
    color: #000000!important;
}
.loginName{
    color: #ffffff!important;
    display: inline-block!important;
}
.ant-tabs-nav-wrap{
    background-color: #ffffff!important;
    text-align: left!important;
}
.loginbg{
    width: 100%!important;
    height: 100%!important;
    position: relative!important;
    text-align: center!important;
    border-color: #666!important;
    background-color: #ffffff!important;
    
}
.ant-card-body .ant-btn-primary:hover, .ant-card-body .ant-btn-primary:focus
{
    background-color: #0e7d3b!important;
    border-color: #0e7d3b!important;
    color: #fff!important;
}
.ant-btn-primary{
    background-color: #0e7d3b!important;
    border-color: #0e7d3b!important;
    color: #fff!important;
}

.loginbg .banner3-text-wrapper {
    display: inline-block!important;
    color: #888!important;
    height: 500px!important;
    font-size: 15px!important;
    line-height: 28px!important;
    font-weight: 400!important;
    vertical-align: middle!important;
    margin-right: 50px!important;
    text-align: left!important;
}
.loginbg .banner3-name-en {
    display: block!important;
    font-size: 14px!important;
    line-height: 32px!important;
    font-weight: 400!important;
   
}
.loginbg .banner3-slogan {
    font-size: 24px!important;
    line-height: 80px!important;
    font-weight: 600!important;
    text-align: left!important;
}
.texty span {
    text-align: left!important;
    color: #2e2e2e!important;
}
.loginbg .banner3-name {
    font-size: 15px!important;
    overflow: hidden!important;
    opacity: 0.8!important;
  
    width: 500px;
    text-align: left!important;
}

.login-form {
    position: relative !important;
    top     : calc(50% - 100px) !important;
    width   : 340px !important;
}
.ant-card-body .ant-btn{
    width: 100%!important;
    // background-color: #1aaa55;
    // border-color: #168f48;
    // color: #fff;
}

